<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center shadow">
      <!-- <h1><i class="fas fa-brain"></i></h1> -->
      <h1>QuizApp</h1>
      <p>Create an account or login to play</p>
      <a href="/users/register" class="btn mt-4 btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-block">Login</a>
    </div>
  </div>
</div>
